<h1>Cart Details</h1>
<table class="table table-responsive ">
  <thead>
      <td><strong>Product</strong></td>
      <td><strong>Quantity</td>
      <td><strong>Unit Price</td>
      <td><strong>Total</td>
    </strong>
  </thead>
  <tbody>
    <% @cart.cartships.each do |cartship| %>
      <tr>
        <td><%= cartship.product.name %></td>
        <td><%= cartship.quantity %></td>
        <td><%= number_to_currency(cartship.product.unit_price) %></td>
        <td><%= number_to_currency(cartship.quantity * cartship.product.unit_price) %></td>
      </tr>
    <% end %>
    <tr>
      <td><strong>Total</strong></td>
      <td></td>
      <td></td>
      <td><strong><%= number_to_currency(@cart.total_price) %></strong></td>
    </tr>
  </tbody>

</table>
