<p id="notice"><%= notice %></p>

<div class="text-center"><h1>Products</h1></div>

<div class="row">
  <div class="col-md-3">
    <%= render partial: "shared/product_categories" ,locals:{categories: @categories} %>
  </div>
  <div class="col-md-9">
    <div class="row">
      <% @categories.each do |category| %>
        <%= render partial: "shared/product_details", locals:{category: category} %>
      <% end %>
    </div>
  </div>
</div>
<hr/>
<p>
  <%= link_to 'New Product', new_product_path, class: "btn btn-primary" %>
</p>
<P>
  <%= link_to 'New Category', new_category_path, class: "btn btn-primary" %>
</p>
