<p id="notice"><%= notice %></p>

<div class="text-center"><h1>Products</h1></div>

<div class="row">
  <div class="col-md-3">
    <h3>Product Categories</h3>
    <%= link_to('All products',root_path) %>
    <% @categories.each do |category| %>
      <% if category.products_count > 0 %>
        <div>
          <%= link_to(category.name, category_path(category)) %>
        </div> 
      <% end %>
    <% end %>
  </div>
  <div class="col-md-9">
    <div class="row">
      <% @categories.each do |category|
        category.products.each do |product| %>
        <div class="col-sm-2 text-center">
          <a href="/products/<%= product.id %>" >
            <% if product.image.attached? %>
              <div><%= image_tag(product.thumbnail,class: "img-thumbnail img-responsive",alt: "#{product.name}")%></div>
            <% end %>
          </a>
          <div class="text-center"><%= truncate(product.name,length:15) %></div>
          <div class="text-center"><%= number_to_currency(product.unit_price)   %></div>
          <div class="text-center"><%= link_to("Add to cart",add_to_cart_product_path(product),class:"btn btn-primary btn-sm") %></div>
        </div>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
<hr/>
<p>
  <%= link_to 'New Product', new_product_path, class: "btn btn-primary" %>
</p>
<P>
  <%= link_to 'New Category', new_category_path, class: "btn btn-primary" %>
</p>
