<h1>Products</h1>

<div class="row">
  <% @products.each do |product| %>
    <div class="col-md-3">
      <a href="/products/<%= product.id %>" >
        <% if product.image.attached? %>
          <div><%= image_tag product.thumbnail,class: "img-thumbnail img-responsive", size: "250x250",alt: "#{product.name}"%></div>
          <div><%= product.name %></div>
          <div><%= number_to_currency(product.unit_price)   %></div>
        <% end %>
      </a>
      <p></p>
    </div>
  <% end %>
</div>

<%= link_to 'New Product', new_product_path %>
