<div class="text-center"><h1>Products</h1></div>

<div class="row">
  <% @products.each do |product| %>
    <div class="col-sm-2 text-center">
      <a href="/products/<%= product.id %>" >
        <% if product.image.attached? %>
          <div><%= image_tag(product.thumbnail,class: "img-thumbnail img-responsive",alt: "#{product.name}")%></div>
        <% end %>
      </a>
      <div class="text-center"><%= product.name %></div>
      <div class="text-center"><%= number_to_currency(product.unit_price)   %></div>
      <div class="text-center"><%= link_to("Add to cart",add_to_cart_product_path(product),class:"btn btn-primary btn-sm") %></div>
    </div>
  <% end %>
</div>
<hr/>
<p>
  <%= link_to 'New Product', new_product_path, class: "btn btn-primary" %>
</p>
